{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-9">
      </div>
      <div class="col-md-3">
        <a href="{% url 'tracker:add_well' %}">
          <button type="button" class="btn btn-primary" id='addbtn'>Add Well</button>
        </a>
        <a href="{% url 'tracker:add_field' %}">
          <button type="button" class="btn btn-primary" id='addbtn2'>Add Field</button>
        </a>
        
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    {% for field, wells in data.items %}
      <div class="col-md-6">
        
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-4">{{field}}</h2>
            {% for well in wells %}
              <div class="list-group">
                <a href="{% url 'tracker:well_info' well.id %}" class="list-group-item">{{well.name}}</a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
    {% endfor %}
  </div>
</div>
{% endblock %}